body {
    background: url(/images/Bird.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

h1 {
    text-shadow: 1px 1px 1px #ccc;
}

.container-narrow {
    padding: 50px;
    margin: 0 auto;
    max-width: 900px;
    min-height:100%;
    background: url(/images/cream_dust_transparent.png) repeat 0 0;
}

.container-narrow>hr {
    margin: 30px 0;
}


h1, h2, h3,h4,h5, h6 {
    font-family: 'Roboto', Georgia, Times, serif;
}

p,label {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

form.tab-form-demo .tab-pane {
    margin: 20px 20px;
}

.glyphicon-thumbs-up {
    cursor: pointer;
}

.glyphicon-thumbs-down {
    cursor: pointer;
}

.glyphicon-trash {
    cursor: pointer;
}
