<html>

<head>
    <title>Flapper News</title>
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href='/stylesheets/style.css'></link>
    <link rel="stylesheet" type="text/css" href='/stylesheets/animate.css'></link>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>

<body>

    <script type="text/ng-template" id="/register.html">
        <div>
            <div class="page-header">
                <h1>Flapper News</h1>
            </div>

            <errors-directive error="{{ctrl.error}}"></errors-directive>

            <form ng-submit="ctrl.register()" style="margin-top:30px;">
                <h3>Register</h3>

                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Username" ng-model="ctrl.user.username"></input>
                </div>
                <div class="form-group">
                    <input type="password" class="form-control" placeholder="Password" ng-model="ctrl.user.password"></input>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
            </form>
        </div>
    </script>


    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-animate.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-touch.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-1.3.3.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="/javascripts/flapperNews.module.js"></script>
    <script src="/javascripts/angularApp.js" /></script>
    <script src="/controllers/MainController.js"></script>
    <script src="/controllers/AuthController.js"></script>
    <script src="/controllers/NavController.js"></script>
    <script src="/controllers/CommentController.js"></script>
    <script src="/controllers/UserController.js"></script>
    <script src="/services/authService.js"></script>
    <script src="/services/postService.js"></script>
    <script src="/services/commentService.js"></script>
    <script src="/services/userService.js"></script>

</body>









</html>
